wildFly/standalone/data/wsdl/ContaEar.ear/javaee.war/ContaWsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ContaWsService" targetNamespace="http://webService/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webService/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webService/">
  <xs:element name="alterar" type="tns:alterar"/>
  <xs:element name="alterarResponse" type="tns:alterarResponse"/>
  <xs:element name="excluir" type="tns:excluir"/>
  <xs:element name="excluirResponse" type="tns:excluirResponse"/>
  <xs:element name="listaDataLancamento" type="tns:listaDataLancamento"/>
  <xs:element name="listaDataLancamentoResponse" type="tns:listaDataLancamentoResponse"/>
  <xs:element name="listaTipoLancamento" type="tns:listaTipoLancamento"/>
  <xs:element name="listaTipoLancamentoResponse" type="tns:listaTipoLancamentoResponse"/>
  <xs:element name="listar" type="tns:listar"/>
  <xs:element name="listarId" type="tns:listarId"/>
  <xs:element name="listarIdResponse" type="tns:listarIdResponse"/>
  <xs:element name="listarNome" type="tns:listarNome"/>
  <xs:element name="listarNomeResponse" type="tns:listarNomeResponse"/>
  <xs:element name="listarResponse" type="tns:listarResponse"/>
  <xs:element name="salvar" type="tns:salvar"/>
  <xs:element name="salvarResponse" type="tns:salvarResponse"/>
  <xs:complexType name="listaDataLancamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaDataLancamentoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:conta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conta">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataLancamento" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
      <xs:element minOccurs="0" name="tipoLancamento" type="xs:int"/>
      <xs:element minOccurs="0" name="valor" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listar">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="listarResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:conta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarId">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:conta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNome">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNomeResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:conta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaTipoLancamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listaTipoLancamentoResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:conta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="excluir">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="excluirResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="alterar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:conta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alterarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:conta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="salvar">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:conta"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="salvarResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="listaDataLancamento">
    <wsdl:part element="tns:listaDataLancamento" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="excluirResponse">
    <wsdl:part element="tns:excluirResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alterarResponse">
    <wsdl:part element="tns:alterarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarId">
    <wsdl:part element="tns:listarId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarNome">
    <wsdl:part element="tns:listarNome" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listaTipoLancamento">
    <wsdl:part element="tns:listaTipoLancamento" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="alterar">
    <wsdl:part element="tns:alterar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarIdResponse">
    <wsdl:part element="tns:listarIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarNomeResponse">
    <wsdl:part element="tns:listarNomeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listaDataLancamentoResponse">
    <wsdl:part element="tns:listaDataLancamentoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listar">
    <wsdl:part element="tns:listar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="excluir">
    <wsdl:part element="tns:excluir" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="salvar">
    <wsdl:part element="tns:salvar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listaTipoLancamentoResponse">
    <wsdl:part element="tns:listaTipoLancamentoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listarResponse">
    <wsdl:part element="tns:listarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="salvarResponse">
    <wsdl:part element="tns:salvarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ContaWs">
    <wsdl:operation name="listaDataLancamento">
      <wsdl:input message="tns:listaDataLancamento" name="listaDataLancamento">
    </wsdl:input>
      <wsdl:output message="tns:listaDataLancamentoResponse" name="listaDataLancamentoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <wsdl:input message="tns:listar" name="listar">
    </wsdl:input>
      <wsdl:output message="tns:listarResponse" name="listarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarId">
      <wsdl:input message="tns:listarId" name="listarId">
    </wsdl:input>
      <wsdl:output message="tns:listarIdResponse" name="listarIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarNome">
      <wsdl:input message="tns:listarNome" name="listarNome">
    </wsdl:input>
      <wsdl:output message="tns:listarNomeResponse" name="listarNomeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listaTipoLancamento">
      <wsdl:input message="tns:listaTipoLancamento" name="listaTipoLancamento">
    </wsdl:input>
      <wsdl:output message="tns:listaTipoLancamentoResponse" name="listaTipoLancamentoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="excluir">
      <wsdl:input message="tns:excluir" name="excluir">
    </wsdl:input>
      <wsdl:output message="tns:excluirResponse" name="excluirResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="alterar">
      <wsdl:input message="tns:alterar" name="alterar">
    </wsdl:input>
      <wsdl:output message="tns:alterarResponse" name="alterarResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="salvar">
      <wsdl:input message="tns:salvar" name="salvar">
    </wsdl:input>
      <wsdl:output message="tns:salvarResponse" name="salvarResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContaWsServiceSoapBinding" type="tns:ContaWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listaDataLancamento">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listaDataLancamento">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listaDataLancamentoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarNome">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listarNome">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listarNomeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listaTipoLancamento">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listaTipoLancamento">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listaTipoLancamentoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="excluir">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="excluir">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="excluirResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="alterar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="alterar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="alterarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="salvar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="salvar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="salvarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContaWsService">
    <wsdl:port binding="tns:ContaWsServiceSoapBinding" name="ContaWsPort">
      <soap:address location="http://localhost:8080/javaee/ContaWs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>